<html>
<h3> Categories Table:</h3>
<table border = '1' align=left>
<tr>
<th>ID</th>
<th>Name</th>
</tr>
{% for row in categories %}
	<tr>
	<td align=center> {{ row.id_category|escape }} </td>
	<td align=center> {{ row.name|escape }}        </td>
	</tr>
{% endfor %}
</table>
</html>
