<html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3> Change Incident </h3>

<form action="index.php" method="post" onsubmit="return confirm('Are you sure you want to change this incident?');">
	Incident ID:       <input align="center" type="number" name="id_global_incident" value="{{id_global_incident}}" /><br><br>
  Name:              <input align="center" type="text" name="name" value="{{name}}"/><br><br>
  Category ID:       <input align="center" type="number" name="category_id" value="{{category_id}}"/><br><br>
  Date:              <input align="center" type="text" name="date" value="{{date}}"/><br><br>
  Author:            <input align="center" type="text" name="authored_by" value="{{authored_by}}"/><br><br>
  NIDS Event ID:     <input align="center" type="number" name="nids_event_id" value="{{nids_event_id}}"/><br><br>
  HIDS Event ID:     <input align="center" type="number" name="hids_event_id" value="{{hids_event_id}}"/><br><br>
  Honeypot Event ID: <input align="center" type="number" name="honeypot_event_id" value="{{honeypot_event_id}}"/><br><br>
	<input type="hidden" name="info" value="change"/>
	<input type="submit" />
</form>

</html>
