<html>
<body>
	<h1>Change Incident</h1>

	<table border = '1' align=left>

	<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Author</th>
	<th>Date</th>
	<tr/>

	{% for row in incidents %}
		<tr>
		<td align=center> <a href="?page=3&change={{ row.id_global_incident|escape }}" >{{ row.id_global_incident|escape }} </td>
		<td align=center> {{ row.name|escape }}        </td>
		<td align=center> {{ row.authored_by|escape }}        </td>
		<td align=center> {{ row.date|escape }}        </td>
		</tr>
	{% endfor %}

</table>

</body>
</html>
