<html>
<h3> Delete Incidents </h3>

<!-- <form action="delete.php" method="post" onsubmit="return confirm('Are you sure you want to delete this incident?');"> -->
<form action="index.php" method="post" onsubmit="return confirm('Are you sure you want to delete this incident?');">
	Incident ID: <input align="center" type="number" name="ID" /><br><br>
	<input type="hidden" name="info" value="delete"/>
	<input type="submit" />
</form>

<table border = '1' align=left>

<tr>
<th>ID</th>
<th>Name</th>
<th>Author</th>
<th>Date</th>
<tr/>

{% for row in incidents %}
	<tr>
	<td align=center> {{ row.id_global_incident|escape }} </td>
	<td align=center> {{ row.name|escape }}        </td>
	<td align=center> {{ row.authored_by|escape }}        </td>
	<td align=center> {{ row.date|escape }}        </td>
	</tr>
{% endfor %}

</table>
</html>
