<html>
<h3> HoneypotEvents Table:</h3>

<table border = '1' align=left>

<tr>
<th>ID</th>
<th>Name</th>
<tr/>

{% for row in honeyevents  %}
	<tr>
	<td align=center> {{ row.id_hp_event|escape }} </td>
	<td align=center> {{ row.name|escape }}        </td>
	</tr>
{% endfor %}

</table>
</html>
