<html>
<h3> NetsniffEvents Table:</h3>
<table border = '1' align=left>

<tr>
<th>ID</th>
<th>Date</th>
<th>SRC IP</th>
<th>DST IP</th>
<th>SRC P</th>
<th>DST P</th>
<tr/>

{% for row in netsniffevents %}
	<tr>
	<td align=center> {{ row.id_netsniff_event|escape }} </td>
	<td align=center> {{ row.date|escape }}  </td>
	<td align=center> {{ row.SRC_IP|escape }}  </td>
	<td align=center> {{ row.DST_IP|escape }}  </td>
	<td align=center> {{ row.SRC_P|escape }}  </td>
	<td align=center> {{ row.DST_P|escape }}  </td>
	</tr>
{% endfor %}

</table>
</html>
