<!DOCTYPE html>
<html>
<h3> IncidentSource Table:</h3>

<table border = '1' align=left>

<tr>
<th>ID</th>
<th>Name</th>
<tr/>

{% for row in sources  %}
	<tr>
	<td align=center> {{ row.id_incident|escape }} </td>
	<td align=center> {{ row.name|escape }}        </td>
	</tr>
{% endfor %}

</table>

</html>
