<html>
<h3> SyslogEvents Table:</h3>

<table border = '1' align=left>

<tr>
<th>ID</th>
<th>Name</th>
<th>Date</th>
<th>Message</th>
<tr/>

{% for row in syslogevents %}
	<tr>
	<td align=center> {{ row.id_syslog_event|escape }} </td>
	<td align=center> {{ row.name|escape }}  </td>
	<td align=center> {{ row.date|escape }}  </td>
	<td align=center> {{ row.full_text|escape }}  </td>
	</tr>
{% endfor %}

</table>
</html>
